.headerContainerStyle{
    background: #DADCE008;
    border-radius: 10px;
    color: #DADCE0;
}

.headerContainerLigthStyle {
    background: #F3F3F3;
    border-radius: 10px;
    color: #202537;
}

.ulStyle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 18px
}
.ulStyle > li{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ulStyle > li > button {  
    background-color: #262b3c00;
    border: none;
}


